<div class="container">
    <a class="navbar-brand pull-left" href="#">julianna gabler</a>
    <nav class="navbar navbar-light bg-faded pull-right">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">experience & skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">contact</a>
            </li>
        </ul>
    </nav>
</div>
