{% extends 'base.html.twig' %}
{% import 'macros/grid.html.twig' as grid %}

{% block title %}Portfolio{% endblock %}

{# index / portofolio specific javascript #}
{% block javascript %}

{% endblock %}


{% block body %}
    <p>Studies at <a href="www.rit.edu">Rochester Institute of Technology</a>. Future May 2017 grad. <br>
        Interned with <a href="www.datto.com">Datto</a>, previous <a href="http://etransfr.com">Etransfr</a> employees,
        plays rugby, and organizes with <a href="www.wic.rit.edu">Women in Computing</a>.  </p>

    {# insert dashed line here, drawn style ?? #}

    <h2>projects</h2>
    {{ grid.grid(projects, true) }}

    <h2>work experience</h2>
    {{ grid.chronologicalList(experience) }}

    <h2>skills</h2>
    {{ grid.grid(skills) }}

    <h2>tools & frameworks</h2>
    {{ grid.grid(toolsFrameworks) }}
{% endblock %}
