{% extends 'base.html.twig' %}
{% import 'macros/grid.html.twig' as grid %}

{% block title %}Portfolio{% endblock %}

{# index / portofolio specific javascript #}
{% block javascript %}

{% endblock %}

{# don't forget to comment out the menu in base #}

{% block body %}
    <div class="container">
        <img src="http://www.habitatnewburgh.org/wp-content/uploads/2016/01/Under-Construction1.jpg" width="900px" />
        <h1>Welcome to Julianna Gabler's portfolio!</h1>
        <p>Excuse the lack of content as this site is currently undergoing a redesign for Career Fair week. You should see it up and running in a few days.</p>
    </div>
{% endblock %}
