<h1>Tiger Hunt API Calls</h1>

<h3>{{ prefix }}tasks</h3>

<div>
    <p>You will need the following in your json:</p>
    <ul>
        <li>Valid user ID</li>
        <li>App Token</li>
    </ul>
</div>
